<div class="container">
  <h1>My notebook</h1>

  <div class="choose-option">
    <label class="display-option">
      <input type="radio" name="scroll" [checked]="this.displayType === this.classicDisplay"
      [value]="this.classicDisplay" (change)="this.changeDisplay($event.target.value)" />
      Classic
    </label>

    <label class="display-option">
      <input type="radio" name="scroll" [checked]="this.displayType === this.infiniteDisplay"
      [value]="this.infiniteDisplay" (change)="this.changeDisplay($event.target.value)" />
      Infinite
    </label>
  </div>

  <h3>Notes:</h3>
  <!-- Render notes  -->
  <app-my-notes *ngIf="this.displayType === this.classicDisplay"></app-my-notes>
</div>
